SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SCOPES=read_products,write_products,read_orders,write_orders
HOST=https://broad-sufficiently-wrestling-extending.trycloudflare.com
PORT=3000
CLIENT_PORT=5173
DATABASE_URL=sqlite:./server/database.sqlite
JWT_SECRET=
SESSION_SECRET=
